/bin/
*.tokens
*.class
*.interp
antlr/src/
antlr/stringtemplate/
antlr/antlr4_src\.zip
antlr/src\.zip
target/
/target
/target/*
.idea/
/.classpath
/.project


TypesBaseListener.java
TypesBaseVisitor.java
TypesListener.java
TypesVisitor.java

PotatoesBaseListener.java
PotatoesBaseVisitor.java
PotatoesListener.java
PotatoesVisitor.java
*/*.iml
*Lexer.java
*Parser.java
src/test
src/tests/global/test.txt
src/tests/global/test.java
src/tests/global/test.txt
src/compiler/PotatoesSemanticCheck.java
